/sbd/.idea/dataSources.xml
iot/l3/front_server/servers.db
iot/l3/decisionmaking/target
ppd/.metadata
ppd/lists/.settings
ppd/lists/.oplproject
ppd/lists/.project
iot/l3/iot_source/.env_1
ppd/solver/Cargo.lock
ppd/solver/target
big_data/l3/target
big_data/l3/images/0.png
big_data/l3/images/l3.png
ppd/hello_world/target
big_data/l4/target
projektowanie_algorytmow/l6/target/debug
ppd/sim_anneling/target
projektowanie_algorytmow/l6/target
projektowanie_algorytmow/l6/target
sieci_zlozone/ex2_py/lib
sztuczna_inteligencja/neutral_network/target
.idea
.idea
sztuczna_inteligencja/genetical/target
